<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="RentACar.WinUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
    <applicationSettings>
        <RentACar.WinUI.Properties.Settings>
            <setting name="APIUrl" serializeAs="String">
                <value>https://localhost:44372/api</value>
            </setting>
        </RentACar.WinUI.Properties.Settings>
    </applicationSettings>
</configuration>
